<h2><%= @product.name %></h2>

<nav>
  <ul>
    <li><%= link_to "Edit", edit_product_path(@product) %></li>
  </ul>
</nav>

<article class="product">

  <table class="product">
    <tr>
      <th>Name</th>
      <td><%= @product.name %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @product.description %></td>
    </tr>
    <tr>
      <th>Price</th>
      <td><%= @product.formatted_price %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @product.created_at.strftime("%F") %></td>
    </tr>
    <tr>
      <th>Reviews</th>
      <td><%= render 'show_reviews' %></td>
    </tr>

  </table>

</article>




<%= render 'new_review' %>
